header {
    background-color: #4CAF50;
    color: white;
    padding: 25px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  nav { /* menu */
    background-color: #343a40;
    /* Dark Gray */
    text-align: center;
    padding: 12px 0;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    animation: kenburns-left 5s infinite;
  }
  
  nav a:hover {
    color: #ff6347;
    /* Tomato */
    text-decoration: underline;
  }